
<div class="background-page-form"></div>


<div class="container better-form" style="background-color: white">
  <h2>Create a trip</h2>
<%= simple_form_for @trip do |f| %>
  <%= f.input :name %>
  <%= f.input :destination %>
  <%= f.input :length %>
  <%= f.input :cost %>
  <%= f.submit "Add trip", class: "btn btn-flat" %>
  <% end %>
</div>
