<!-- banner -->


  <div class='banner slider'>
    <div class='banner slide1'></div>
    <div class='banner slide2'></div>
    <div class='banner slide3'></div>

    <div class="head-container better-form-search">
      <h1>Better Bookings</h1>
      <%= simple_form_for :search, url: trips_url, method: :get do |f| %>
      <%= f.input :query, as: :string, :placeholder => 'Where are you going?' %>
      <%= f.submit "submit ", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>

<h2 class="recs">Recommendations</h2>

<div class="index-cards " >
  <% @trip.each do |trip| %>
  <div class="card-index">
    <%= cl_image_tag trip.photo, class: "img-card" %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to trip.name, trip_path(trip) %></h5>
      <p class="card-text"> <%= trip.destination %></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <% end %>
</div>



<!-- footer -->


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
